<footer class="site-foote" dir="rtl">
        <div class="footer-top" style="background-image:url(assets/images/pattern/pt15.png);">
            <div class="container">
                <div class="row">
					<div class="col-xl-4 col-lg-4 col-md-6 col-5 col-sm-6 footer-col-4 col-12  text-right">
                        <div class="widget widget_about border-0">
							<h5 class="footer-title">عن جامعة الأقصر</h5>
							<p class="mm-t5">جامعة الأقصر هي جامعة حكومية مصرية في محافظة الأقصر انقساماً من جامعة جنوب الوادي. وكانت تسمي في السابق جامعة جنوب الوادي فرع الأقصر ثم إستقلت بإسمها الحالي</p>
							<ul class="contact-info-bx">
                                <li><i class="las la-map-marker"></i><strong>العنوان</strong> محافظة الأقصر - العوامية </li>
                                <li><i class="las la-phone-volume"></i><strong>الهاتف</strong> ( +2 ) 095-2287245</li>
								<li><i class="las la-envelope-open"></i><strong>البريد الالكتروني</strong> info@Luxor.edu.eg</li>
                            </ul>
                        </div>
                    </div>

					<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 footer-col-4 col-12  text-right">
                        <div class="widget widget_services border-0">
							<h5 class="footer-title">روابط مهمة</h5>
							<ul class="mm-t10">
								<li><a [routerLink]="['/university-history']">تاريخ الجامعة</a></li>
								<li><a [routerLink]="['/event']">الأخبار</a></li>
                <li><a href="javascript:void(0);">المنصة الالكترونية </a></li>
								<li><a href="javascript:void(0);">نتائج الطلاب</a></li>
								<li><a href="javascript:void(0);">الدراسات العليا</a></li>
							</ul>
						</div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 footer-col-4 col-12">
                        <div class="widget">
							<h5 class="footer-title text-right">ساعات العمل</h5>
							<ul class="thsn-timelist-list mm-t5 text-right">
						    <li><span class="thsn-timelist-li-title">الأحد</span><span class="thsn-timelist-li-value">08:00 صباحا إلى 03:00 مساء</span></li>
					   	  <li><span class="thsn-timelist-li-title">الاثنين</span><span class="thsn-timelist-li-value">08:00 صباحا إلى 03:00 مساء</span></li>
                 <li><span class="thsn-timelist-li-title">الثلاثاء</span><span class="thsn-timelist-li-value">08:00 صباحا إلى 03:00 مساء</span></li>
                 <li><span class="thsn-timelist-li-title">الأربعاء</span><span class="thsn-timelist-li-value">08:00 صباحا إلى 03:00 مساء</span></li>
                 <li><span class="thsn-timelist-li-title">الخميس</span><span class="thsn-timelist-li-value">08:00 صباحا إلى 03:00 مساء</span></li>
                 <li><span class="thsn-timelist-li-title">الجمعة - السبت</span><span class="thsn-timelist-li-value">مغلق</span></li>
							</ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer bottom part -->
        <div class="footer-bottom" style="background-color: #07294D;">
            <div class="container">
              <div class="row">
                <div class="col-md-12 col-sm-12 text-center ">
                  <ul class="list-inline m-a0  mb-3">
                    <li><a class="site-button white outline circle b2" target="_blank" href="" ><i class="fa fa-google-plus"></i></a></li>
                    <li><a class="site-button white outline circle b1" target="_blank" href="https://www.facebook.com/LuxorUniversityOfficial/"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="site-button white outline circle b3" target="_blank" href="https://www.youtube.com/channel/UCGNqxgRk-zB0k-JZ77PthQA"><i class="fa fa-youtube"></i></a></li>
                  </ul>
                </div>

              </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12 text-center ">
                    <span>Copyright © 2020</span> </div>

                </div>
            </div>
        </div>
    </footer>
