<div class="page-wraper">
  <!-- header -->
  <app-header-dark1></app-header-dark1>

  <!-- header END -->
  <!-- Content -->
  <div class="page-content bg-white">
    <div class="container" style="background-image:url(assets/images/background/kindergarten/line.png); background-size:contain;background-repeat: no-repeat;background-position: center;">
      <div class="row">
<div class="col-lg-12" style="margin-top:2%; margin-bottom:2%;">

        <div class="table-responsive" style="text-align: center;">
          <table class="table check-tbl" dir="rtl">
            <thead>
              <tr>
                <th>الفرقة</th>
                <th>الملف بناء على القسم</th>

              </tr>
            </thead>
            <tbody>
              <tr class="alert" >
               <td class="product-item-name">الفرقة الأولى</td>
                <td class="product-item-price">
                  <a target="_blank" href="assets/files/studentscodes/archology/الفرقة اولى ترميم اثار .pdf">ترميم آثار</a>
                    <br/>
                  <a target="_blank" href="assets/files/studentscodes/archology/اكواد طلاب الفرقة الاولى اثار مصرى.pdf">آثار مصري</a>
                </td>
              </tr>

              <tr class="alert" >
                <td class="product-item-name">الفرقة الثانية</td>
                 <td class="product-item-price">
                  <a target="_blank" href="assets/files/studentscodes/archology/اكواد طلاب الفرقة الثالثة ترميم اثار.pdf">ترميم آثار</a>
                  <br/>
                  <a target="_blank" href="assets/files/studentscodes/archology/اكواد طلاب الفرقة الثانية اثار مصرى .pdf">آثار مصري</a>
                  <br/>
                  <a target="_blank" href="assets/files/studentscodes/archology/اكواد طلاب الفرقة الثانية اسلامى.pdf">آثار إسلامي</a>
                  </td>
               </tr>

               <tr class="alert" >
                <td class="product-item-name">الفرقة الثالثة</td>
                 <td class="product-item-price">
                  <a target="_blank" href="assets/files/studentscodes/archology/اكواد طلاب الفرقة الثالثة ترميم اثار.pdf">ترميم آثار</a>
                  <br/>
                  <a target="_blank" href="assets/files/studentscodes/archology/اكواد طلاب الفرقة الثالثة اثار مصرى.pdf">آثار مصري</a>
                  <br/>
                  <a target="_blank" href="assets/files/studentscodes/archology/اكواد طلاب الفرقة الثالثة اثار اسلامى.pdf">آثار إسلامي</a>
                  </td>
               </tr>

               <tr class="alert" >
                <td class="product-item-name">الفرقة الرابعة</td>
                 <td class="product-item-price">
                  <a target="_blank" href="assets/files/studentscodes/archology/اكواد طلاب الفرقة الرابعة ترميم الاثار.pdf">ترميم آثار</a>
                  <br/>
                  <a target="_blank" href="assets/files/studentscodes/archology/اكواد طلاب الفرقة الرابعة اثار مصرى.pdf">آثار مصري</a>
                  <br/>
                  <a target="_blank" href="assets/files/studentscodes/archology/اكواد طلاب الفرقة الرابعة اثار اسلامى.pdf">آثار إسلامي</a>
                  </td>
               </tr>

            </tbody>
          </table>

   </div>
</div>
</div>
</div>

  </div>
  <!-- Content END-->


  <!-- Footer -->
  <app-footer13></app-footer13>
  <!-- Footer END-->
  <button class="scroltop icon-up" type="button"><i class="fa fa-arrow-up"></i></button>
</div>
