
<div class="page-wraper">

  <!-- header -->
  <app-app-mac-header></app-app-mac-header>
  <!-- header END -->
  <!-- Content -->
  <div class="page-content bg-white">
    <!-- inner page banner -->
    <app-banner3 [data] = "banner"></app-banner3>
    <!-- inner page banner END -->
    <!-- contact area -->
    <div class="content-area">
  <div class="container max-w100">

    <div class="section-full bg-white content-inner kinder-about text-right" style="background-image:url(assets/images/background/kindergarten/line.png); background-size:contain;background-repeat: no-repeat;background-position: center;" dir="rtl">
      <div class="container">

    <div class="wow fadeIn  text-right" data-wow-delay="0.2s"  data-wow-duration="2s">
    <div class="section-head kinder-head  text-right">
      <h3 class="head-title text-primary mb-3">إجمال ميزانية المشروع  </h3>
      <p> 2.400.000 جنيه
        <br/>
        1.440.000 جنيه من وحدة إدارة المشروعات + 960.000 جنيه من الجامعة
      </p>
      <h3 class="head-title text-primary mb-3">مدة المشروع  </h3>
      <p>24 شهر</p>
    </div>
    </div>
    </div>
    </div>


  </div>
    </div>
</div>
<!-- Content END-->
  <!-- Footer -->
 <!-- Newsletter -->

 <!-- Footer -->
  <app-footer13></app-footer13>
  <!-- Footer END-->
  <!-- scroll top button -->
  <button class="scroltop fa fa-chevron-up" ></button>
</div>
