<div class="section-full bg-img-fix content-inner-2 overlay-black-dark contact-action style2" style="background-image:url(assets/images/background/bg2.jpg);">
				<div class="container">
					<div class="row relative">
						<div class="col-md-12 col-lg-12 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s" style="justify-content: center; text-align: center;">
							<div class="contact-no-area" >
								<form action="script/mailchamp.php" method="post" class="dzSubscribe subscribe-box row align-items-center sp15">
								<div class="col-lg-6 col-md-6 align-items-center">
										<div class="input-group">
											<a class="site-button btn-block btnhover13" href="https://e-learning.luxor.edu.eg">الذهاب للمنصة الالكترونية</a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
