
<div class="page-wraper">

	<!-- header -->
      <app-header-dark1></app-header-dark1>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <app-banner1 [data] = "banner"></app-banner1>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="content-block">
            <!-- Privacy Policy -->
			<div class="section-full content-inner inner-text">
				<div class="container">
					<div class="row">
            <div class="col-lg-12">
							<h4 class="title">Privacy Statement</h4>
							<p class="font-18">
                This Privacy Policy describes the practice of Luxor University in Egypt, use, and disclosure of your information when you are using the university website and corresponding websites and applications, and therefore, you are consenting to our collection and use of information in accordance with this privacy policy.
              </p>
							<div class="dlab-divider bg-gray-dark"></div>

							<h4 class="title">What information do we gather about you?</h4>
							<p class="font-18">We and with assistant with third-party tools collect information such as your IP address, browser type, pages you visited on our website, the time spent while using some services, and other information to diagnose and evaluate our service. Moreover, we may ask you to fill some surveys, and that requires from your end to provide us with some personal information such as personal email address, academic-related information.</p>
              <br/>
              <p class="font-18">
                Luxor University  may use Cookies and analytic technologies to analyze your activities on Luxor University related Services and store some related information.
              </p>
              <br/>
              <p class="font-18">
                Cookies are light files in which we use to grab some details from your device related to the browser used, website pages visited history, and some other information related to your browsing history on Luxor University website only.
              </p>
              <br/>
              <p class="font-18">
                If you do not like the use of cookies, you can set up your browser to not accept all cookies or to ask you before Cookies are sent to your device. You may not be able to proceed utilization of some services if the cookies are not accepted.
              </p>

							<div class="dlab-divider bg-gray-dark"></div>

							<h4 class="title">What do we use your information for?</h4>
              <p class="font-18">
                We use your collected information mainly to improve our services offered. We may use your email to send you notifications related to the university’s latest news and offers if any. Also, to follow up with you, your related university matter requests such as reaching you by calling your provided mobile number and but not limited to view your collected feedback and opinion when fulfilling university-related surveys.
              </p>
              <br/>
              <p class="font-18">
                Your personal information is viewed by the university employees that need to process and manipulate your information. Still, in some cases, we need to share your information with third-party authorities such as Government authorities and Regulators.
              </p>


              <div class="dlab-divider bg-gray-dark"></div>
							<h4 class="title">How is this information collected, and how can you opt-out?</h4>
              <p class="font-18">
                Luxor University may use some third-party service providers’ tools that they may have access to your Data to perform their tasks on behalf of us, and they are obligated not to disclose or use it for any other purpose. Such tools are Google Analytics, CrediMax Payment Gateway, Microsoft Forms, and jot form forms builder.
              </p>

              <div class="dlab-divider bg-gray-dark"></div>
							<h4 class="title">Information Protection</h4>
              <p class="font-18">
                Luxor University maintains your personal data access security from unauthorized access or intrusion. Luxor University limits the access of your data to those employees and service providers who need to process and manipulate your information.  Security of the Information that is provided over the internet outside Luxor University network is not Luxor University responsibility or liability to protect.
              </p>


              <div class="dlab-divider bg-gray-dark"></div>
							<h4 class="title">Changes to this Privacy Policy</h4>

              <p class="font-18">
                  We may update our Privacy Policy from time to time. We wish you to check it frequently.
              </p>


              <div class="dlab-divider bg-gray-dark"></div>
							<h2 class="title">Contact Us</h2>
              <ul class="list-circle primary m-a0">
								<h6>If you have any questions about this Privacy Policy, you can contact us: </h6>
								<li>By email: info@Luxor.edu.eg</li>
								<li>By visiting this page on our website: Contact Us</li>
								<li>By phone number: +2 01203008901</li>
                <br>
                <br>
								<h6>Effective Date</h6>
                <li>The effective date of this policy is June 29, 2022.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
            <!-- Privacy Policy END -->
		</div>
    </div>
    <!-- Content END-->
	<!-- Footer -->
   <!-- Newsletter -->

   <!-- Footer -->
    <app-footer13></app-footer13>
    <!-- Footer END-->
    <button class="scroltop fa fa-chevron-up"></button>
</div>
