
<div class="page-wraper">

    <!-- header -->
    <app-header-light-confrence></app-header-light-confrence>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-gray">
        <!-- inner page banner -->
        <app-banner1 [data] = "banner"></app-banner1>
        <!-- inner page banner END -->
    <div class="section-full bg-white content-inner">
      <div class="container">
        <div class="row" >
          <div class="col-lg-4 col-md-6 m-b30" >
            <div class="event-post post-grid shadow radius" style="height:500px;">
              <div class="dlab-post-media">
                <a><img src="../../../../assets/images/gallery/alsun.jpg" alt="" style="height: 300px;"></a>
              </div>
              <div class="dlab-post-info">
                <div class="dlab-post-meta">
                  <ul>
                    <li class="post-date"><span><strong>,</strong></span> </li>
                    <li class="post-author"> <i class="la la-clock"></i></li>
                    <li class="post-tag"> <i class="ti-location-pin"></i></li>
                  </ul>
                </div>
                <div class="dlab-post-title">
                  <h4 class="post-title"><a>عنوان المؤتمر</a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
  
          <!-- Pagination start -->
          <div class="pagination-bx rounded-sm primary clearfix m-b30 text-center col-md-12">
            <ul class="pagination">
              <li class="previous"><a href="javascript:void(0);"><i class="ti-arrow-left"></i> Prev</a></li>
              <li class="active"><a href="javascript:void(0);">1</a></li>
              <li><a href="javascript:void(0);">2</a></li>
              <li><a href="javascript:void(0);">3</a></li>
              <li class="next"><a href="javascript:void(0);">Next <i class="ti-arrow-right"></i></a></li>
            </ul>
          </div>
          <!-- Pagination END -->
  
      </div>
    </div>
    <!-- Events End -->
  </div>
    <!-- Content END-->
    <!-- Footer -->
   <!-- Newsletter -->
  
   <!-- Footer -->
    <app-footer13></app-footer13>
    <!-- Footer END-->
    <!-- scroll top button -->
    <button class="scroltop fa fa-chevron-up" ></button>
  </div>
  