
<div class="page-wraper">

  <!-- header -->
  <app-app-mac-header></app-app-mac-header>
  <!-- header END -->
  <!-- Content -->
  <div class="page-content bg-white">
    <!-- inner page banner -->
    <app-banner3 [data] = "banner"></app-banner3>
    <!-- inner page banner END -->
    <!-- contact area -->
    <div class="content-area">
  <div class="container max-w100">

    <div class="section-full bg-white content-inner kinder-about text-right" style="background-image:url(assets/images/background/kindergarten/line.png); background-size:contain;background-repeat: no-repeat;background-position: center;" dir="rtl">
      <div class="container">

    <div class="wow fadeIn  text-right" data-wow-delay="0.2s"  data-wow-duration="2s">
    <div class="section-head kinder-head  text-right">
      <h2 class="head-title text-primary mb-5">خطة عمل المشروع</h2>

      <div class="section-full bg-white content-inner-1">
        <div class="container">
          <ul id="masonry" class="portfolio-ic dlab-gallery-listing gallery-grid-4 lightgallery" dir="rtl">
            <li class="web branding card-container col-lg-6 col-md-6 col-sm-6">
              <div class="dlab-box dlab-gallery-box">
                <div class="dlab-media dlab-img-overlay1 dlab-img-effect">
                  <a href="javascript:void(0);"> <img src="assets/images/main-slider/MACProjectPlan/planpage2.png"  alt=""> </a>
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <div class="text-white">
                        <a href="javascript:void(0);"><i class="fa fa-link icon-bx-xs"></i></a>
                        <span data-exthumbimage="assets/images/main-slider/MACProjectPlan/planpage2.png" data-src="assets/images/main-slider/MACProjectPlan/planpage2.png" class="check-km" title="Page 2">
                          <i class="fa fa-picture-o icon-bx-xs"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="dez-info bg-white text-center">
                   <p class="category"><small>Page 2</small></p>
                </div>
              </div>
            </li>
            <li class="web branding card-container col-lg-6 col-md-6 col-sm-6">
              <div class="dlab-box dlab-gallery-box">
                <div class="dlab-media dlab-img-overlay1 dlab-img-effect">
                  <a href="javascript:void(0);"> <img src="assets/images/main-slider/MACProjectPlan/planpage1.png"  alt=""> </a>
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <div class="text-white">
                        <a href="javascript:void(0);"><i class="fa fa-link icon-bx-xs"></i></a>
                        <span data-exthumbimage="assets/images/main-slider/MACProjectPlan/planpage1.png" data-src="assets/images/main-slider/MACProjectPlan/planpage1.png" class="check-km" title="Page 1">
                          <i class="fa fa-picture-o icon-bx-xs"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="dez-info bg-white text-center">
                     <p class="category"><small>Page 1</small></p>
                </div>
              </div>
            </li>

          </ul>

</div>
    </div>
    </div>
    </div>
    </div>
    </div>


  </div>
    </div>
</div>
<!-- Content END-->
  <!-- Footer -->
 <!-- Newsletter -->

 <!-- Footer -->
  <app-footer13></app-footer13>
  <!-- Footer END-->
  <!-- scroll top button -->
  <button class="scroltop fa fa-chevron-up" ></button>
</div>
