
<div class="page-wraper">
	<!-- header -->
    <app-confrence-header></app-confrence-header>
    <!-- header END -->
	<!-- Content -->
    <div class="page-content bg-white">
		<!-- Slider -->
        <app-confrence-slider></app-confrence-slider>
		<!-- END REVOLUTION SLIDER -->
		<!-- Slider END -->
        <!-- contact area -->
  <div class="content-block">
			<!-- About Us End -->

			<!-- Latest blog -->
			<app-gradutesevent1></app-gradutesevent1>
			<!-- Latest blog END -->

      <app-confrence-counter></app-confrence-counter>
		</div>
		<!-- contact area END -->
    </div>
    <!-- Content END -->

     <!-- Footer -->
    <app-footer13></app-footer13>
