
<div class="page-wraper">
	<!-- header -->
       <app-app-mac-header></app-app-mac-header>
  <!-- header END -->
	<!-- Content -->
    <div class="page-content bg-white">
		<!-- Slider -->
        <app-mac-slider></app-mac-slider>
		<!-- END REVOLUTION SLIDER -->
		<!-- Slider END -->
        <!-- contact area -->
       <div class="content-block">
			<!-- About Us End -->
			<app-mac-content></app-mac-content>

			<!-- Latest blog -->
			<app-gradutesevent1></app-gradutesevent1>
			<!-- Latest blog END -->

      <app-mac-counter></app-mac-counter>
		</div>
		<!-- contact area END -->
    </div>
    <!-- Content END -->

     <!-- Footer -->
    <app-footer13></app-footer13>
