<div class="section-full text-white bg-img-fix content-inner overlay-black-dark counter-staus-box style-1" style="background-image:url(assets/images/background/bg20.jpg);">
    <div class="container">
      <div class="section-head text-center">
        <h2 class="title">فعاليات ومؤتمرات</h2>
        <p>
            تعرض هذه الفئة الفرص التي تندرج تحت قائمة الفعاليات أو المهرجانات أو المؤتمرات . بعض هذه الفرص محلية لا تتطلب السفر إلى الخارج وبعضها مؤتمرات محليه .
        </p>
      </div>
      
    </div>
  </div>
  