<
<div class="page-wraper">


    <!-- Content -->
    <div class="page-content bg-gray">

        <!-- contact area -->
   <div class="content-block">
			<!-- Portfolio  -->
			<div class="section-full content-inner portfolio bg-gray" id="portfolio">
				<div class="container">
					<div class="clearfix" id="lightgallery">
						<ul id="masonry" class="portfolio-ic dlab-gallery-listing gallery-grid-4 gallery lightgallery text-center">
							<li class="web design card-container col-lg-4 col-md-6 col-sm-6">
								<div class="dlab-box dlab-gallery-box">
									<div class="dlab-media dlab-img-effect">
										<a href="javascript:void(0);">
                      <div class="video">
                        <video controls (click)="toggleVideo()" #videoPlayer>
                          <source src="http://luxor.edu.eg:8098/StaticFiles\UniversityResources\Videos\video1.mp4" type="video/mp4" />
                          Browser not supported
                        </video>
                      </div>
                    </a>

									</div>
									<div class="dez-info bg-white">
										<h5 class="dez-title m-t0"><a href="javascript:void(0);">{{videos[0].title}}</a></h5>
										<p class="category"><small>{{videos[0].createDate | date : 'yyyy-MM-dd'}}</small></p>
									</div>
								</div>
							</li>
              <li class="web design card-container col-lg-4 col-md-6 col-sm-6">
								<div class="dlab-box dlab-gallery-box">
									<div class="dlab-media dlab-img-effect">
										<a href="javascript:void(0);">
                      <div class="video">
                        <video controls (click)="toggleVideo()" #videoPlayer>
                          <source src="http://luxor.edu.eg:8098/StaticFiles\UniversityResources\Videos\video2.mp4" type="video/mp4" />
                          Browser not supported
                        </video>
                      </div>
                    </a>

									</div>
									<div class="dez-info bg-white">
										<h5 class="dez-title m-t0"><a href="javascript:void(0);">{{videos[1].title}}</a></h5>
										<p class="category"><small>{{videos[1].createDate | date : 'yyyy-MM-dd'}}</small></p>
									</div>
								</div>
							</li>
              <li class="web design card-container col-lg-4 col-md-6 col-sm-6">
								<div class="dlab-box dlab-gallery-box">
									<div class="dlab-media dlab-img-effect">
										<a href="javascript:void(0);">
                      <div class="video">
                        <video controls (click)="toggleVideo()" #videoPlayer>
                          <source src="http://luxor.edu.eg:8098/StaticFiles\UniversityResources\Videos\video3.mp4" type="video/mp4" />
                          Browser not supported
                        </video>
                      </div>
                    </a>

									</div>
									<div class="dez-info bg-white">
										<h5 class="dez-title m-t0"><a href="javascript:void(0);">{{videos[2].title}}</a></h5>
										<p class="category"><small>{{videos[2].createDate | date : 'yyyy-MM-dd'}}</small></p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
        </div>
		<!-- contact area END -->
    </div>
    <!-- Content END-->

</div>

