
<div class="page-wraper">

    <!-- header -->
    <app-header-light-confrence></app-header-light-confrence>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-gray">
        <!-- inner page banner -->
        <app-banner1 [data] = "banner"></app-banner1>
        <!-- inner page banner END -->
    <div class="section-full bg-white content-inner">
      <div class="container">
          <div style="height:500px; text-align: right; font-weight: bolder; font-size: larger;">
            <a target="_blank" href="../../../../assets/files/كتاب الملخصات النهائي.pdf">كتاب الملخصات النهائي</a>

        </div>

  
      </div>
    </div>
    <!-- Events End -->
  </div>
    <!-- Content END-->
    <!-- Footer -->
   <!-- Newsletter -->
  
   <!-- Footer -->
    <app-footer13></app-footer13>
    <!-- Footer END-->
    <!-- scroll top button -->
    <button class="scroltop fa fa-chevron-up" ></button>
  </div>
  