
<div class="page-wraper">
	<!-- header -->
    <app-gradute-affairs-header></app-gradute-affairs-header>
    <!-- header END -->
	<!-- Content -->
    <div class="page-content bg-white">
		<!-- Slider -->
        <app-gradute-slider></app-gradute-slider>
		<!-- END REVOLUTION SLIDER -->
		<!-- Slider END -->
        <!-- contact area -->
  <div class="content-block">
			<!-- About Us End -->
			<app-graduationcontent1></app-graduationcontent1>

			<!-- Latest blog -->
			<app-gradutesevent1></app-gradutesevent1>
			<!-- Latest blog END -->

      <app-graduationcounter></app-graduationcounter>
		</div>
		<!-- contact area END -->
    </div>
    <!-- Content END -->

     <!-- Footer -->
    <app-footer13></app-footer13>
