<div class="section-full text-center bg-white content-inner">
  <div class="container">
    <div class="section-head text-black">
      <h2 class="title text-center">تاريخ الجامعة</h2>
       <p class="text-right" style="font-size: larger; line-height: 1.5; font-weight: 300;">جامعة الأقصر هي جامعة حكومية مصرية في محافظة الأقصر انقساماً من جامعة جنوب الوادي. وكانت تسمي في السابق جامعة جنوب الوادي فرع الأقصر ثم إستقلت بإسمها الحالي وتضم
        كليات   فنون جميلة  -  حاسبات ومعلومات  -  اثار  -  سياحة وفنادق  -  السن  -  الطب و بعد استقلالها رسميًا عن جامعة جنوب الوادى وذلك بالقرار الذي نشر في الجريدة الرسمية بموافقة الدكتور مصطفى مدبولى رئيس مجلس الوزراء، على إنشاء "جامعة الأقصر" الجديدة وفصلها تمامًا عن جامعة جنوب الوادى، حيث حمل القرار رقم 1481 لسنة 2019، بتعديل بعض أحكام اللائحة التنفيذية لقانون تنظيم الجامعات، والخاص بتحويل فرع جامعة جنوب الوادى بمحافظة الأقصر إلى جامعة مستقلة بمسمى جامعة الأقصر، ونص القرار على أن تنشأ بالإضافة إلى الجامعات المنصوص عليها بالمادة الثانية من قانون تنظيم الجامعات (جامعة الأقصر) ومقرها محافظة الأقصر، ويلغى فرع جامعة جنوب الوادى بالأقصر، وإضافة بند لقانون تنظيم الجامعات</p>
        <h4 lass="title text-right">رؤساء جامعة الاقصر منذ نشأتها</h4>
      </div>

    <div class="row"  dir="rtl">
      <div class="col-lg-3 col-md-6 col-sm-6" >
        <div class="dlab-box m-b30 dlab-team1" style="padding-bottom:75% ;">
          <div class="dlab-media">
            <a href="javascript:void(0);">
              <img style="width: 500px; height: 350px;" alt="" src="{{baseUrl1}}" >
            </a>
          </div>
          <div class="dlab-info" >
            <h4 class="dlab-title"><a >أ. د / محمد محجوب عزوز</a></h4>
            <a target="_blank" class="dlab-position" href="assets/files/presidentCV/CV-M-M-Azoz-May-2022.pdf">فتح السيرة الذاتية</a>
            <span class="dlab-position">من 2020 م إلى الآن</span>
            <ul class="dlab-social-icon dez-border">
                <li style="font-weight:bold; font-size: medium;"> رئيس جامعة الأقصر حاليا و عميد كلية العلوم في جامعة جنوب الوادي و كان يشغل منصب وكيل كلية العلوم بجامعة جنوب الوادي و رئيس قسم النبات في الجامعة ذاتها ونال جائزة التفوق العلمي في جامعة جنوب الوادي</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
