
<div class="page-wraper">

  <!-- header -->
  <app-gradute-affairs-header></app-gradute-affairs-header>
  <!-- header END -->
  <!-- Content -->
  <div class="page-content bg-white">
    <!-- inner page banner -->
    <app-banner3 [data] = "banner"></app-banner3>
    <!-- inner page banner END -->
    <!-- contact area -->
<div style="padding-bottom: 5%;">
  <div class="section-full bg-white content-inner-1">
  <div class="container">
  <div class="section-head kinder-head text-center">
    <h3 class="head-title text-primary">كلية الفنون الجميلة</h3>
  </div>
  <div class="client-carousel sprite-nav">
    <div class="item" style="text-align: right;">
      <div class="client-box">
         <div class="testimonial-text text-white">
           <ul>
             <li>التصوير (فن التصوير - فن التصوير الجداري)</li>
             <li>الجرافيك (الرسوم المتحركة – الرسوم المطبوعة)</li>
             <li>النحت في (النحت الفراغي والميداني - الميدالية والنحت البارز)</li>
           </ul>
        </div>
      </div>
    </div>
    </div>
</div>
</div>


<div class="section-full bg-white content-inner-1">
  <div class="container">
  <div class="section-head kinder-head text-center">
    <h3 class="head-title text-primary">كلية الآثار</h3>
  </div>
  <div class="client-carousel sprite-nav">
    <div class="item" style="text-align: right;">
      <div class="client-box">
         <div class="testimonial-text text-white">
           <ul>
             <li>الآثار المصرية</li>
             <li>الآثار الاسلامية </li>
             <li>ترميم الآثار</li>
           </ul>
        </div>
      </div>
    </div>
    </div>
</div>
</div>


<div class="section-full bg-white content-inner-1">
  <div class="container">
  <div class="section-head kinder-head text-center">
    <h3 class="head-title text-primary">كلية السياحة والفنادق</h3>
  </div>
  <div class="client-carousel sprite-nav">
    <div class="item" style="text-align: right;">
      <div class="client-box">
         <div class="testimonial-text text-white">
           <ul style="font-size: medium;">
             <li>الدراسات السياحية</li>
             <li>الدراسات الفندقية </li>
             <li>الإرشاد السياحي</li>
           </ul>
        </div>
      </div>
    </div>
    </div>
</div>
</div>

    </div>
</div>
<!-- Content END-->
  <!-- Footer -->
 <!-- Newsletter -->

 <!-- Footer -->
  <app-footer13></app-footer13>
  <!-- Footer END-->
  <!-- scroll top button -->
  <button class="scroltop fa fa-chevron-up" ></button>
</div>
