<div class="page-wraper">
  <!-- header -->
  <app-header-dark1></app-header-dark1>

  <!-- header END -->
  <!-- Content -->
  <div class="page-content bg-white">
    <div class="container" style="background-image:url(assets/images/background/kindergarten/line.png); background-size:contain;background-repeat: no-repeat;background-position: center;">
      <div class="row">
<div class="col-lg-12" style="margin-top:2%; margin-bottom:2%;">

        <div class="table-responsive" style="text-align: center;">
          <table class="table check-tbl" dir="rtl">
            <thead>
              <tr>
                <th>الفرقة</th>
                <th>الملف بناء على القسم</th>

              </tr>
            </thead>
            <tbody>
              <tr class="alert" >
                <td class="product-item-name">الفرقة الإعدادية</td>
                 <td class="product-item-price">
                  <a target="_blank" href="assets/files/studentscodes/fineart/werr.pdf">إعدادي  جميع التخصصات</a>
               </tr>

              <tr class="alert" >
               <td class="product-item-name">الفرقة الأولى</td>
                <td class="product-item-price">
                  <a target="_blank" href="assets/files/studentscodes/fineart/اولى جرافيك 2020.2021.pdf">جرافيك </a>
                    <br/>
                  <a target="_blank" href="assets/files/studentscodes/fineart/اولى ديكور 2020.2021.pdf">ديكور</a>
                  <br/>
                  <a target="_blank" href="assets/files/studentscodes/fineart/اولى نحت 2020.2021.pdf">نحت</a>

                </td>
              </tr>

              <tr class="alert" >
                <td class="product-item-name">الفرقة الثانية</td>
                 <td class="product-item-price">

                  <a target="_blank" href="assets/files/studentscodes/fineart/ثانيه تصوير 2020.2021.pdf">تصوير</a>
                  <br/>
                  <a target="_blank" href="assets/files/studentscodes/fineart/ثانيه جرافيك 2020.2021.pdf">جرافيك</a>
                  <br/>
                  <a target="_blank" href="assets/files/studentscodes/fineart/ثانيه ديكور 2020.2021.pdf">ديكور</a>
                  <br/>
                  <a target="_blank" href="assets/files/studentscodes/fineart/ثانيه نحت 2020.2021.pdf">نحت</a>

                  </td>
               </tr>

               <tr class="alert" >
                <td class="product-item-name">الفرقة الثالثة</td>
                 <td class="product-item-price">
                  <a target="_blank" href="assets/files/studentscodes/fineart/ثالثه تصوير 2020.2021.pdf">تصوير</a>
                  <br/>
                  <a target="_blank" href="assets/files/studentscodes/fineart/ثالثه تصوير جدارى  2020.2021.pdf">تصوير جدارى</a>
                  <br/>
                  <a target="_blank" href="assets/files/studentscodes/fineart/ثالثه جرافيك تصميم مطبوع 2020.2021.pdf">جرافيك تصميم مطبوع</a>
                  <br/>
                  <a target="_blank" href="assets/files/studentscodes/fineart/ثالثه جرافيك رسوم متحركة 2020.2021.pdf">جرافيك رسوم متحركة</a>
                  <br/>
                  <a target="_blank" href="assets/files/studentscodes/fineart/ثالثه ديكور عماره داخليه 2020.2021.pdf">ديكور عماره داخليه</a>
                  <br/>
                  <a target="_blank" href="assets/files/studentscodes/fineart/ثالثه ديكور فنون تعبيريه 2020.2021.pdf">ديكور فنون تعبيريه</a>
                  <br/>
                  <a target="_blank" href="assets/files/studentscodes/fineart/ثالثه نحت بارز و ميدالية 2020.2021.pdf">نحت بارز و ميدالية</a>
                  <br/>
                  <a target="_blank" href="assets/files/studentscodes/fineart/ثالثه نحت فراغى و ميدانى 2020.2021.pdf">نحت فراغى و ميدانى</a>
                </td>
               </tr>



            </tbody>
          </table>

   </div>
</div>
</div>
</div>

  </div>
  <!-- Content END-->


  <!-- Footer -->
  <app-footer13></app-footer13>
  <!-- Footer END-->
  <button class="scroltop icon-up" type="button"><i class="fa fa-arrow-up"></i></button>
</div>
