
<div class="page-wraper">

  <!-- header -->
  <app-app-mac-header></app-app-mac-header>
  <!-- header END -->
  <!-- Content -->
  <div class="page-content bg-white">
    <!-- inner page banner -->
    <app-banner3 [data] = "banner"></app-banner3>
    <!-- inner page banner END -->
    <!-- contact area -->
    <div class="content-area">
        <div class="container max-w900">

            <div class="row">

      <ng-template [ngIf]="layout.sidebar">
        <div class="col-xl-3 col-lg-4 col-md-12" *ngIf="layout.sidebarPosition=='left'">
          <aside class="side-bar sticky-top">
            <app-search-form3></app-search-form3>
            <app-recent-posts1></app-recent-posts1>
            <app-our-gallery1></app-our-gallery1>
            <app-category-list1></app-category-list1>
            <app-tag-list1></app-tag-list1>
          </aside>
        </div>
      </ng-template>
      <div class="section-full bg-white content-inner kinder-about text-right" style="background-image:url(assets/images/background/kindergarten/line.png); background-size:contain;background-repeat: no-repeat;background-position: center;" dir="rtl">
        <div class="container">
      <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12 col-12 wow fadeIn  text-right" data-wow-delay="0.2s"  data-wow-duration="2s">
      <div class="section-head kinder-head  text-right">
        <h2 class="head-title text-primary">أهداف المركز</h2>
         <ul style="font-size:larger;">
           <li>نشر ثقافة القياس والتقويم ورفع مستوى الوعي بأهمية تطوير عمليات القياس والتقويم كأحد مداخل تحسين منظومة التعليم بالجامعة</li>
            <li>دعم الكليات لتطوير آليات تقويم الطلاب والامتحانات وإعلان النتائج واستثمارها في تطوير وتحسين مخرجات العملية التعليمية من خلال إنشاء وحدات القياس والتقويم</li>
            <li>دعم الكليات في إنشاء وحدات للقياس والتقويم بها</li>
            <li>إعداد أدلة للضوابط والمعايير اللازمة لضمان جودة عمليات القياس والتقويم في ضوء المعايير الأكاديمية القياسية التي تتبناها الكليات</li>
            <li>توفير تدريب أعضاء هيئة التدريس والهيئة المعاونة بالكليات المختلفة في مجال القياس والتقويم</li>
            <li>توفير احتياجات الكليات من الخبراء المتخصصين في مجال القياس والتقويم</li>
            <li>متابعة إعداد وتحديث بنوك الأسئلة للمقررات الدراسية في ضوء نواتج التعلم المستهدفة والمعايير الاكاديمية للبرامج الدراسية في الكليات</li>
            <li>متابعة ضمان جودة وتطوير نظم تقويم الطلاب والامتحانات بالكليات</li>
            <li>تقديم الدعم الفني للكليات لمراجعة أساليب وأدوات التقويم ونتائج الامتحانات</li>
            <li>متابعة مؤشرات قياس رضا الطلاب وأعضاء هيئة التدريس حول نظم القياس وتقويم الطلاب والامتحانات بالكليات</li>
            <li>مراجعة وإعداد التقارير السنوية الخاصة بتقييم أعمال الامتحانات وإعداد خطط تنفيذية للإجراءات التصحيحية لنقاط الضعف والتأكيد على تعزيز نقاط القوة</li>
            <li>تقديم الاستشارات اللازمة في المجالات الإحصائية والقياس والتقويم داخل الجامعة وخارجها</li>
            <li>التقويم المستمر للعملية التعليمية من خلال قياس مدى تحقق معايير جودة الأداء لدى جميع عناصر العملية التعليمية</li>
            <li>تبنى نظم تقويم للطلاب باستخدام أساليب تربوية وتكنولوجيا حديثة</li>
          </ul>
      </div>
      </div>

      </div>
      </div>
      </div>

    </div>


     <!-- Side bar start -->
    <ng-template [ngIf]="layout.sidebar">
      <div class="col-xl-3 col-lg-4 col-md-12" *ngIf="layout.sidebarPosition=='right'">
        <aside class="side-bar sticky-top">
          <app-search-form3></app-search-form3>
          <app-recent-posts1></app-recent-posts1>
          <app-our-gallery1></app-our-gallery1>
          <app-category-list1></app-category-list1>
          <app-tag-list1></app-tag-list1>
        </aside>
      </div>
    </ng-template>
        </div>
    </div>
</div>
<!-- Content END-->
  <!-- Footer -->
 <!-- Newsletter -->

 <!-- Footer -->
  <app-footer13></app-footer13>
  <!-- Footer END-->
  <!-- scroll top button -->
  <button class="scroltop fa fa-chevron-up" ></button>
</div>
