<div class="page-wraper">
    <!-- header -->
    <app-header-dark1></app-header-dark1>

    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
		<!-- Main Slider -->
    <app-slider6></app-slider6>
		<!-- Main Slider -->
        <!-- contact area -->
      <div class="content-block">
			<!-- About Company -->
			<app-events1></app-events1>
			<!-- About Company END -->
			<!-- Our Projects  -->
			<app-newsletter1></app-newsletter1>
			<!-- Our Projects END -->
			<!-- Call To Action -->
			<app-call-to-action2></app-call-to-action2>
			<!-- Call To Action End -->
			<!-- Company staus -->
			<app-counter1></app-counter1>
			<!-- Company staus End -->

			<!-- Latest blog -->
			<app-video-element></app-video-element>
			<!-- Latest blog END -->

		</div>
    </div>
    <!-- Content END-->


    <!-- Footer -->
    <app-footer13></app-footer13>
    <!-- Footer END-->
    <button class="scroltop icon-up" type="button"><i class="fa fa-arrow-up"></i></button>
</div>
