
<div class="page-wraper">

  <!-- header -->
  <app-app-mac-header></app-app-mac-header>
  <!-- header END -->
  <!-- Content -->
  <div class="page-content bg-white">
    <!-- inner page banner -->
    <app-banner3 [data] = "banner"></app-banner3>
    <!-- inner page banner END -->
    <!-- contact area -->
    <div class="content-area">
  <div class="container max-w100">

    <div class="section-full bg-white content-inner kinder-about text-right" style="background-image:url(assets/images/background/kindergarten/line.png); background-size:contain;background-repeat: no-repeat;background-position: center;" dir="rtl">
      <div class="container">

    <div class="wow fadeIn  text-right" data-wow-delay="0.2s"  data-wow-duration="2s">
    <div class="section-head kinder-head  text-right">
      <h2 class="head-title text-primary mb-5">فريق إدارة مشروع</h2>

       <table class="table table-hover table-bordered">
        <thead class="thead-dark">
           <tr>
            <th>م</th>
            <th>الاسم</th>
            <th>المنصب</th>
           </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>أ.د/ محمد محجوب عزوز</td>
            <td>رئيس الجامعة (مدير المشروع)</td>
          </tr>
          <tr>
            <td>2</td>
            <td>أ.د/ حمدي محمد حسين</td>
            <td>نائب رئيس الجامعة لشئون التعليم والطلاب (عضوًا)</td>
          </tr>
          <tr>
            <td>3</td>
            <td>أ.د/ السيد محمد أبو دهب</td>
            <td>عميد كلية الحاسبات والمعلومات (عضوًا)</td>
          </tr>
          <tr>
            <td>4</td>
            <td>أ.د/ محمود النوبي أحمد</td>
            <td>عميد كلية الألسن (عضوًا)</td>
          </tr>
          <tr>
            <td>5</td>
            <td>أ.د/ مايكل مجدي زكي</td>
            <td>مدير مركز القياس والتقويم بالجامعة (المدير التنفيذي للمشروع)</td>
          </tr>
          <tr>
            <td>6</td>
            <td>د/ محمود سيد قرني</td>
            <td>نائب مدير مركز القياس والتقويم بالجامعة (نائب المدير التنفيذي)</td>
          </tr>
          <tr>
            <td>7</td>
            <td>د/ محمد رمضان سعدي</td>
            <td>مدير مركز تكنولوجيا المعلومات بالجامعة (عضوًا)</td>
          </tr>
          <tr>
            <td>8</td>
            <td>أ/ جمال سيد أحمد</td>
            <td>أمين عام الجامعة المساعد (عضوًا)</td>
          </tr>
        </tbody>
       </table>
    </div>
          </div>
    </div>
    </div>


  </div>
    </div>
</div>
<!-- Content END-->
  <!-- Footer -->
 <!-- Newsletter -->

 <!-- Footer -->
  <app-footer13></app-footer13>
  <!-- Footer END-->
  <!-- scroll top button -->
  <button class="scroltop fa fa-chevron-up" ></button>
</div>
