
<div class="page-wraper">
	<!-- header -->
  <app-students-affairs-header></app-students-affairs-header>
    <!-- header END -->
	<!-- Content -->
    <div class="page-content bg-white">
		<!-- Slider -->
        <app-student-slider></app-student-slider>
		<!-- END REVOLUTION SLIDER -->
		<!-- Slider END -->
        <!-- contact area -->
  <div class="content-block">
			<!-- About Us End -->
			<app-students-affair-content></app-students-affair-content>

			<!-- Latest blog -->
			<app-student-affairs-events></app-student-affairs-events>
			<!-- Latest blog END -->

      <app-student-affairs-counter></app-student-affairs-counter>
		</div>
		<!-- contact area END -->
    </div>
    <!-- Content END -->

     <!-- Footer -->
    <app-footer13></app-footer13>
